@import colors

pre
  padding: 1em 1.2em
  border: 1px solid lighten($background, 7)

  &[class*='language-']
    color: lighten($pythonista3-b, 10)
    background: $background
    font-family: 'Roboto Mono', sans-serif
    font-size: 1.2em
    line-height: .9em
    font-weight: 400
    text-align: left
    white-space: pre
    word-spacing: normal
    word-break: normal
    word-wrap: normal
    overflow: scroll
    hyphens: none

.token
  &.comment,
  &.prolog,
  &.doctype,
  &.cdata
    color: desaturate($pythonista3-a, 100)

  &.punctuation
    color: lighten(desaturate($pythonista3-a, 100), 20)

  &.namespace
    opacity: .7

  &.property,
  &.tag,
  &.boolean,
  &.number,
  &.constant,
  &.symbol,
  &.deleted,
  &.selector,
  &.attr-name,
  &.string,
  &.char,
  &.builtin,
  &.inserted
    color: lighten(saturate($pythonista3-accent, 50), 20)

  &.operator,
  &.entity,
  &.url
    color: desaturate($pythonista3-a, 100)

  &.atrule,
  &.attr-value,
  &.keyword
    color: saturate(lighten($pythonista3-a, 10), 20)
    font-weight: bold

  &.function,
  &.class-name
    color: lighten($pythonista2-a, 30)
    font-style: italic
