* {
  box-sizing: border-box;
}

/* Normal stuff */

body {
  color: #fff;

  font-family: "Raleway" sans-serif;
  margin: 0;

  background: #00b388; /* Fallback - average of the two gradient colors */
  background: linear-gradient(#00d38b, #009285);
  background-attachment: fixed;
}

h1 {
  font-size: 7vw;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

p {
  font-size: 2vw;
  font-weight: 400;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 1px;
}

@media (max-width: 420px) {
  h1 {
    font-size: 12.5vw;
  }
  p {
    font-size: 7vw;
  }
}

/* Page "sections" that are the full viewport size */

div.section {
  width: 100vw;
  height: 100vh;
  padding: 10% 10% 0;
  position: relative;
}

#two {
  background: #fff;
  color: #212121;
}

#particles {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
